---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";
import About from "../sections/About.astro";
import Footer from "../sections/Footer.astro";
import Experience from "../sections/Experience.astro";
import Projects from "../sections/Projects.astro";
import Contact from "../sections/Contact.astro";
import Skills from "../sections/Skills.astro";
import Certificaciones from "../sections/Certificaciones.astro";
---

<Layout 
	title="Porfolio Blue de jpalma76"
	description="Porfolio web desarrollado en Astro, Tailwind y Flowbite de Juan Palma (jpalma76), desarrollador Web Frontend con +2 años de experiencia"
>
	<Header />
	<main>
		<About />
		<Skills />
		<Experience />
		<Certificaciones />
		<Projects />
		<Contact />
	</main>
	<Footer />
</Layout>
