---

---

<header class="max-w-full h-16 flex flex-row justify-center items-center">
    
    <nav class=" max-w-full text-base sm:text-lg flex justify-center items-center gap-x-3 md:gap-x-8 transition w-full px-3 py-1">
        <a class="px-3 py-1" href="/">Inicio</a>
        <a class="hidden md:block rounded-full p-1" href="#about">Sobre mí</a>
        <a class="hidden md:block rounded-full p-1" href="#skills">Skills</a>
        <a class="rounded-full p-1" href="#experience">Formación</a>
        <a class="rounded-full p-1" href="#projects">Proyectos</a>
        <a class="hidden sm:block " href="#contact">Contacto</a>
        <a href="#contact" title="Contacto">
          <img
            class="avatar rounded-full opacity-80 aspect-square"
            src="./images/avatar.webp"
            alt="avatar Jpalma76"
          />
        </a>
        
    </nav>
</header>

<style>
  a:hover {
    scale: 110%;
    color: var(--hover);
  }
  .avatar {
    width: 40px;
    height: 40px;
  }

</style>