---
import Section from "./Section.astro";

import Css from "./icons/Css.astro";
import Html from "./icons/Html.astro";
import JavaScript from "./icons/JavaScript.astro";
import JQuery from "./icons/JQuery.astro";
import React from "./icons/React.astro"
import CodeIcon from "./icons/CodeIcon.astro";
---
<Section id="skills">
  <h2 class="w-full flex items-center flex-row gap-x-2  text-3xl ">
    <CodeIcon class="size-8"/>
    Mis Skills son:
  </h2>
  <article class="flex flex-col text-center text-gray-600 max-w-[600px] mx-auto mt-7">
    <ol class="text-lg font-semibold grid grid-cols-2 md:grid-cols-3 gap-x-10 md:gap-x-10 gap-y-6 text-center mb-5">
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-sm">
        <Html class="size-4 md:size-6"/>
        HTML
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-2 md:px-3 py-1 md:py-2 border-zinc-400 rounded-full text-sm">
        
        <Css class="size-4 md:size-6"/>
        CSS
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-sm">
        <JavaScript class="size-4 md:size-6 rounded-md"/>
        JAVASCRIPT
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-sm">
        <JQuery class="size-4 md:size-6"/>
        JQUERY
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-sm">
        <React class="size-4 md:size-6"/>
        REACTJS
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-sm">
        ASTRO
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-sm">
        TAILWIND
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-sm">
        BOOTSTRAP
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-sm">
        JSON
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-sm">
        PHP
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-sm">
        MYSQL
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-sm">
        MARIADB
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-sm">
        SQLITE
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-sm">
        GIT
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-sm">
        GITHUB
      </li>
    </ol>
  </article>
</Section>