---
import Section from "../components/Section.astro";
import ProjectIcon from "./ProjectIcon.astro";
import ProjectItem from "./ProjectItem.astro";

const PROJECTS = [
    {
        title: "Landing page de la JSConf2024 (NO OFICIAL)",
        date: "Realizado en Octubre, 2024",
        description:
            "Confección de copia de la landing de la JSConf 2024, realizado con Astro, Tailwind y CSS nativo.",
        link: "https://landing-js-conf2024.netlify.app/",
        repo: "https://github.com/jpalma76/landing-js-conf2024.git",
        src: "/assets/jsconf2024.webp"
    },
    {
        title: "Landing page de la Velada IV",
        date: "Realizado en Abril, 2024",
        description:
            "Confección de la landing de la Velada IV copiada de @Midudev, realizado con Astro, Tailwind y CSS nativo.",
        link: "https://copia-de-pre-landing-de-la-velada-iv.netlify.app/",
        repo: "https://github.com/jpalma76/copia-de-la-velada-landing.git",
        src: "/assets/landing-de-la-velada-del-año-IV.webp"
    },
    {
        title: "Porfolio-dev",
        date: "realizado en Enero, 2024",
        description: "Porfolio Dev realizado con Astro, Tailwind y Flowbite.",
        link: "https://copia-de-portfolio-dev.netlify.app/",
        repo: "https://github.com/jpalma76/porfolio-dev.git",
        src: "/assets/portfolio-dev.webp"
    },
    {
        title: "Portafolio Web con HTML, Css Nativo, JavaScript ",
        date: "Realizado en Julio, 2022",
        description:
            "Primer porfolio realizado con HTML, CSS nativo, javascript. Se renderizaron dinámicamente los cursos con JQuery y Bootstrap para mejorar la responsividad.",
        link: "https://portafolio-juan-palma.netlify.app/",
        repo: "https://github.com/jpalma76/portafolio.git",
        src: "/assets/portafolio-html.webp"
    }
];
---

<Section id="projects">
    <h2 class="w-full px-4 flex gap-x-4 mb-3 items-center text-3xl text-left">
        <ProjectIcon class="size-7" />
        Proyectos
    </h2>

    <article class="w-[100%] grid grid-cols-1 lg:grid-cols-2 gap-y-6 gap-x-3 mx-0 my-3">
        {
            PROJECTS.map((project) => (
                <div class="max-w-[500px] min-h-[310px] mx-4 px-3 py-2 border rounded-xl ">
                    <ProjectItem {...project} />
                </div>
            ))
        }
    </article>
</Section>
