---
import Section from "../components/Section.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import SkillItem from "./SkillItem.astro";

const skills_programmer = [
  {
    name: "HTML",
    url: "./assets/html.svg"
  },
  {
    name: "CSS",
    url: "./assets/css.svg"
  },
  {
    name: "JAVASCRIPT",
    url: "./assets/javascript.svg"
  },
  {
    name: "JQUERY",
    url: "./assets/jquery.svg"
  },
  {
    name: "REACTJS",
    url: "./assets/react.svg"
  },
  {
    name: "ASTRO",
    url: "./assets/astro.svg"
  },
  {
    name: "TAILWIND",
    url: "./assets/tailwind.svg"
  },
  {
    name: "BOOTSTRAP",
    url: "./assets/bootstrap.svg"
  },
  {
    name: "JSON",
    url: "./assets/json.svg"
  },
  {
    name: "PHP",
    url: "./assets/php.svg"
  },
  {
    name: "MYSQL",
    url: "./assets/mysql.svg"
  },
  {
    name: "MARIADB",
    url: "./assets/marIadb.svg"
  },
  {
    name: "SQLITE",
    url: "./assets/sqlite.svg"
  },
  {
    name: "GIT",
    url: "./assets/git.svg"
  },
  {
    name: "GITHUB",
    url: "./assets/github.svg"
  },
];

---

<Section id="skills">
  <h2 class="w-full flex items-center flex-row gap-x-2 text-3xl">
    <CodeIcon class="size-8" />
    Mis Skills son:
  </h2>
  <h3 class="text-2xl font-semibold">Desarrollo web</h3>
  <article
    class="flex flex-col text-center text-gray-600 max-w-[700px] mx-auto mt-7"
  >
    <ol
      class="font-bold grid grid-cols-2 md:grid-cols-3 gap-x-10 gap-y-6 text-center mb-5"
    >
      {
        skills_programmer.map(skill => (
            <SkillItem name={skill.name} url={skill.url} />
        ))
      }
    </ol>
  </article>
</Section>
