---
import Section from "../components/Section.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import SkillItem from "./SkillItem.astro";

const skills_programmer = [
  {
    name: "HTML",
    url: "./assets/html.png"
  },
  {
    name: "CSS",
    url: "./assets/css.png"
  },
  {
    name: "JAVASCRIPT",
    url: "./assets/javascript.png"
  },
  {
    name: "JQUERY",
    url: "./assets/jquery.png"
  },
  {
    name: "REACTJS",
    url: "./assets/react.png"
  },
  {
    name: "ASTRO",
    url: "./assets/astro.png"
  },
  {
    name: "TAILWIND",
    url: "./assets/tailwind.png"
  },
  {
    name: "BOOTSTRAP",
    url: "./assets/bootstrap.png"
  },
  {
    name: "JSON",
    url: "./assets/json.png"
  },
  {
    name: "PHP",
    url: "./assets/php.png"
  },
  {
    name: "MYSQL",
    url: "./assets/mysql.png"
  },
  {
    name: "MARIADB",
    url: "./assets/marIadb.png"
  },
  {
    name: "SQLITE",
    url: "./assets/sqlite.png"
  },
  {
    name: "GIT",
    url: "./assets/git.png"
  },
  {
    name: "GITHUB",
    url: "./assets/github.png"
  },
];

const technical_skills = [
  {
    name: "HFC",
    url: "./images/tap.webp"
  },
  {
    name: "FTTH",
    url: "./images/nap_vtr.webp"
  },
  {
    name: "RED NEUTRA",
    url: "./images/nap_onnet.webp"
  }
]
---

<Section id="skills">
  <h2 class="w-full flex items-center flex-row gap-x-2 text-3xl">
    <CodeIcon class="size-8" />
    Mis Skills son:
  </h2>
  <h3 class="text-2xl font-semibold">Desarrollo web</h3>
  <article
    class="flex flex-col text-center text-gray-600 max-w-[700px] mx-auto mt-7"
  >
    <ol
      class="font-bold grid grid-cols-2 md:grid-cols-3 gap-x-10 gap-y-6 text-center mb-5"
    >
      {
        skills_programmer.map(skill => (
            <SkillItem name={skill.name} url={skill.url} />
        ))
      }
    </ol>
  </article>
</Section>
